.menu{
    z-index: 9999;
}

.dropdown{
    border-color: #fff;
    background: #fff;
    box-shadow: none!important;
    font-family: Raleway;
    font-size: 1.275rem;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    -ms-transition: all 1s ease-in;
    transition: all 1s ease-in;
    
}

.dropdown:hover{
    background: blue;
    color:#fff;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    -ms-transition: all 1s ease-in;
    transition: all 1s ease-in;
}

.arrowOneFlip, .arrowTwoFlip{
    transform: all 0.4s;
    transition: all 0.7s;
}

.arrowOneFlip.spin, .arrowTwoFlip.spin {transform: rotate(180deg);}